[submodule "vim-monokai"]
	path = vim-monokai
	url = https://github.com/sickill/vim-monokai
[submodule "tmux-omt"]
	path = tmux-omt
	url = https://github.com/gpakosz/.tmux
[submodule "omz"]
	path = omz
	url = https://github.com/ohmyzsh/ohmyzsh.git
