# fix garbage printing on attach
#set -s escape-time 100

# Allow for Ctrl-a to be a prefix
set -g prefix2 C-a
bind C-a send-prefix -2

# reload config on r
bind r source-file ~/.tmux.conf \; display '~/.tmux.conf sourced'

# if a 'session' ends, go to another session
set -g detach-on-destroy off
# start with mouse mode enabled
set -g mouse on
# don't use tmux-* because that doesn't work everywhere.
set-option -s default-terminal "screen-256color" #!important

# n/p for previous/next window
bind C-p previous-window # select previous window
bind C-n next-window     # select next window
bind p previous-window
bind n next-window

# New 'window' on Ctrl-C
unbind C-c
bind C-c new-window

# New pane keeps current working directory
unbind -
bind - split-window -c "#{pane_current_path}"

# Detach current on Ctrl-d
bind C-d detach-client

# scroll through panes with w/s
unbind C-w
unbind C-s
unbind w
unbind s
bind C-w select-pane -t :.-
bind w select-pane -t :.-
bind C-s select-pane -t :.+
bind s select-pane -t :.+

# Ctrl-x for detach others
unbind C-x
unbind x
bind C-x detach-client -a
bind x detach-client -a

# Save scrollback to file
bind-key P command-prompt -p 'save history to filename:' -I '~/tmux.history' 'capture-pane -S -32768 ; save-buffer %1 ; delete-buffer' 

# Move windows in the ordering
bind-key -n C-S-Left swap-window -t -1
bind-key -n C-S-Right swap-window -t +1

# SSH_AUTH_SOCK for forwarding to tmux.
# Relies on sh.cfg setting this link whenever we log in
setenv -g SSH_AUTH_SOCK $HOME/.ssh/ssh_auth_sock
set -g update-environment -r

# terminal title options
set-option -g set-titles on
set-option -g set-titles-string "#h ❐ #S ● #I #W"



# Other colors 
set-option -g display-panes-active-colour "#00afff"
set-option -g display-panes-colour "#00afff"
set-option -g display-panes-time 800
set-option -g display-time 1000
set-option -g history-limit 50000
set-option -g message-command-style bg=black,fg=yellow 
set-option -g message-line 0
set-option -g message-style bg=yellow,fg=black
set-option -g pane-border-style "fg=#8a8a8a,bg=black"
set-option -g pane-active-border-style "fg=#00afff,bg=black"

# Status bar flags
set-option -g status on
set-option -g status-position top
set-option -g status-bg default
set-option -g status-fg default
set-option -g status-interval 10
set-option -g status-justify left
set-option -g status-keys vi
set-option -g status-left "[#{session_name}] "
set-option -g status-left-length 1000
set-option -g status-left-style "fg=#8a8a8a,bg=#080808,none"
set-option -g status-position top
set-option -g status-right "#[fg=#080808,bg=#080808,none]#[fg=#8a8a8a,bg=#080808,none]#H #{battery_vbar}"
set-option -g status-right-length 1000
set-option -g status-right-style "fg=#8a8a8a,bg=#080808,none"
set-option -g status-style "fg=#8a8a8a,bg=#080808,none"
set-option -g window-status-current-style "bg=#00afff,fg=black"
set-option -g window-status-format  "#[fg=#080808,bg=#080808,none]#{?window_last_flag,,}#{?window_activity_flag,,}#{?window_bell_flag,,}#[fg=#8a8a8a,bg=#080808,none]#{?window_last_flag,#[fg=#00afff],}#{?window_last_flag,,}#{?window_activity_flag,,}#{?window_activity_flag,,}#{?window_bell_flag,#[fg=#ffff00],}#{?window_bell_flag,,}#{?window_last_flag,#{?window_activity_flag,#{?window_bell_flag,,},#{?window_bell_flag,,}},#{?window_activity_flag,#{?window_bell_flag,,},#{?window_bell_flag,,}}}#{?window_last_flag,#[none],}#{?window_last_flag,#[none],}#{?window_activity_flag,#[none],}#{?window_activity_flag,#[underscore],}#{?window_bell_flag,#[blink],}#{?window_bell_flag,#[bold],}#I #W#[none]#{?window_last_flag,#{?window_activity_flag,#{?window_bell_flag,,},#{?window_bell_flag,,}},#{?window_activity_flag,#{?window_bell_flag,,},#{?window_bell_flag,,}}}#[fg=#080808,bg=#080808]#{?window_last_flag,,}#{?window_activity_flag,,}#{?window_bell_flag,,}"
set-option -g window-status-current-format "#[fg=#080808,bg=#00afff,none]#[fg=#080808,bg=#00afff,bold] #I #W #[fg=#00afff,bg=#080808]"
set-option -g window-status-activity-style fg=default,bg=default,underscore

